<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="unsecure()">No Auth Request</button>
  <button ion-button full (click)="secure()">Auth Request</button>
  <button ion-button full (click)="makeRequest()">Make Request</button>
  <button ion-button full (click)="makeRequestPic()">Make Request Pictures</button>
  
  <ion-list>
    <ion-item *ngFor="let person of people; let i = index">
      <ion-avatar item-left>
        <img src="{{ person.picture.thumbnail }}">
      </ion-avatar>
      <h2>{{ person.name.title }} {{ person.name.first }} {{ person.name.last }}</h2>
      <p>{{ person.email }}</p>
    </ion-item>
  </ion-list>

  <ion-grid>
  <ion-row *ngFor="let image of images; let i = index">
    <ion-col *ngIf="i%2 == 0">
      <ion-avatar item-left>
        <img src="data:image/jpeg;base64,{{image.Photo}}" />
      </ion-avatar>
      <p><strong>{{ image.Description }}</strong></p>
    </ion-col>
    <ion-col *ngIf="(i+1) < images.length && (i+1)%2 != 0">
      <ion-avatar item-left>
        <img src="data:image/jpeg;base64,{{ images[i+1].Photo }}">
      </ion-avatar>
      <p><strong>{{ images[i+1].Description }}</strong></p>
    </ion-col>
  </ion-row>
</ion-grid>
  

  <!--<ion-list>
    <ion-item *ngFor="let image of images; let i = index">
      <img src="data:image/jpeg;base64,{{image.Photo}}" />
      <h2>{{ image.Description }}</h2>
    </ion-item>
  </ion-list>-->
  
  <div *ngIf="auth.authenticated()">
    <ion-card>
      <ion-item *ngIf="auth.user">
        <ion-avatar item-left>
          <img src="{{ auth.user.picture }}">
        </ion-avatar>
        <h2>{{ auth.user.nickname }}</h2>
        <p>{{ auth.user.email }}</p>
      </ion-item>
    </ion-card>
    <button ion-button (click)="auth.logout()">Log out</button>
  </div>

  <div *ngIf="base64Image">
    <h2>Preview</h2>
    <p>
      <img [src]="sanitizer.bypassSecurityTrustUrl(base64Image)" />
    </p>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addImage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>



<!--
<ion-content padding>
  <button ion-button (click)="unsecure()">Un-Secure</button>
  <button ion-button (click)="secure()">Secure</button>
  <h2>Hello Ionic + TypeScript + Angular2</h2>
  <button ion-button full (click)="makeRequest()">Make Request</button>
  <button ion-button (click)="takePicture()">Camera</button>
  <p>
    <img *ngIf="base64Image" [src]="base64Image" />
  </p>
  <ion-list>
    <ion-item *ngFor="let person of people; let i = index">
      <ion-avatar item-left>
        <img src="{{ person.picture.thumbnail }}">
      </ion-avatar>
      <h2>{{ person.name.title }} {{ person.name.first }} {{ person.name.last }}</h2>
      <p>{{ person.email }}</p>
    </ion-item>
  </ion-list>
</ion-content>
-->